x-lagoon-project:
  # Lagoon project name (leave `&lagoon-project` when you edit this)
  &lagoon-project lagoon-ui

x-environment: &default-environment
  LAGOON_PROJECT: *lagoon-project
  # Route that should be used locally, if you are using pygmy, this route *must* end with .docker.amazee.io
  LAGOON_ROUTE: &default-url ${CALLBACK_URL:-http://lagoon-ui.docker.amazee.io}

  # Uncomment if you like to have the system behave like in production
  LAGOON_ENVIRONMENT_TYPE: production
  GRAPHQL_API: "${GRAPHQL_API:-http://0.0.0.0:3000/graphql}"
  AUTH_SECRET: "${AUTH_SECRET:-test}"
  AUTH_KEYCLOAK_ID: "${AUTH_KEYCLOAK_ID:-lagoon-ui-oidc}"
  AUTH_KEYCLOAK_SECRET: "${AUTH_KEYCLOAK_SECRET:-20580a56-6fbc-11ef-9a5b-3b4da292aa54}"
  AUTH_KEYCLOAK_ISSUER: "${AUTH_KEYCLOAK_ISSUER:-http://0.0.0.0:8088/auth/realms/lagoon}"
  LAGOON_UI_TOURS_ENABLED: enabled

services:
  ui:
    build:
      context: .
      dockerfile: Dockerfile
    labels:
      lagoon.type: node
    command: yarn run dev
    volumes:
      - ./src:/app/src
      - ./utils:/app/utils
      #      - ./node_modules:/app/node_modules
      - ./tsconfig.json:/app/tsconfig.json
      - ./.next:/app/.next
      - ./public:/app/public
      - ./build:/app/build
      - ./next-env.d.ts:/app/next-env.d.ts
      - ./next.config.mjs:/app/next.config.mjs
      - ./postcss.config.mjs:/app/postcss.config.mjs
      - ./cache:/usr/local/share/.cache/yarn # to speed up restarts
      - ./.env.defaults:/app/.env.defaults
      - ./.env.schema:/app/.env.schema
      - ./package.json:/app/package.json
      - ./yarn.lock:/app/yarn.lock
    ports:
      - '3003:3003'
    networks:
      - default
    environment:
      <<: *default-environment
