@import 'tailwindcss';
@import '@uselagoon/ui-library/dist/ui-library.css';

@layer base {
  :root {
    --background: #f2f2f2;
    --foreground: #0c0c0c;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  button:not([disabled]),
  [role=button]:not([disabled]) {
    cursor: pointer;
  }

  [data-lastpass-icon-root] {
    display: none !important;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}
